*{
    margin: 0;
    padding: 0;
}
.Header-Container{
    display: flex;
    margin-left: 40px;
}
img{
    width: 100px;
    border-radius: 70%;
}
.Title{
    justify-content: center;
    align-items: center;
    display: flex;
    padding-left: 10px;
}